.box{
    max-height: 100px;
    border: 1px solid black;
    overflow: scroll;
}
.mydiv{
   margin: 10px;
   min-height: 50px;
   border: 1px solid black; 
}
#divi{
    margin: 10px;
    height: 30px;
   
    border:1px solid black;
    overflow:auto;
}